<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <form [formGroup]="loginForm" (onSubmit)="sendLogin()">
      <div class="field">
        <label class="label">Usuario</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Ingrese Usuario"
            formControlName="usuario"
            [ngClass]="{
              'is-danger':
                loginForm.controls['usuario'].dirty &&
                loginForm.controls['usuario'].errors,
              'is-success':
                loginForm.controls['usuario'].dirty &&
                !loginForm.controls['usuario'].errors
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['usuario'].dirty ||
                loginForm.controls['usuario'].touched) &&
              !loginForm.controls['usuario'].errors
            "
          >
            <i class="fas fa-check"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['usuario'].dirty ||
                loginForm.controls['usuario'].touched) &&
              loginForm.controls['usuario'].errors
            "
          >
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p
          class="help is-success walkP"
          *ngIf="
            (loginForm.controls['usuario'].dirty ||
              loginForm.controls['usuario'].touched) &&
            !loginForm.controls['usuario'].errors
          "
        >
          Este usuario esta disponible
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['usuario'].dirty ||
              loginForm.controls['usuario'].touched) &&
            loginForm.controls['usuario'].errors &&
            !loginForm.controls['usuario'].errors.userAvailable
          "
        >
          Este usuario no está disponible
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['usuario'].dirty ||
              loginForm.controls['usuario'].touched) &&
            loginForm.controls['usuario'].errors &&
            loginForm.controls['usuario'].errors.required
          "
        >
          El usuario es requerido
        </p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="Ingrese Email"
            formControlName="email"
            [ngClass]="{
              'is-danger':
                loginForm.controls['email'].dirty &&
                loginForm.controls['email'].errors,
              'is-success':
                loginForm.controls['email'].dirty &&
                !loginForm.controls['email'].errors
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['email'].dirty ||
                loginForm.controls['email'].touched) &&
              !loginForm.controls['email'].errors
            "
          >
            <i class="fas fa-check"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['email'].dirty ||
                loginForm.controls['email'].touched) &&
              loginForm.controls['email'].errors
            "
          >
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p
          class="help is-success walkP"
          *ngIf="
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched) &&
            !loginForm.controls['email'].errors
          "
        >
          El email es válido
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched) &&
            loginForm.controls['email'].errors &&
            loginForm.controls['email'].errors.email
          "
        >
          El email es inválido
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched) &&
            loginForm.controls['email'].errors &&
            loginForm.controls['email'].errors.required
          "
        >
          El email es requerido
        </p>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-danger"
            type="password"
            placeholder="Password"
            formControlName="password"
            [ngClass]="{
              'is-danger':
                loginForm.controls['password'].dirty &&
                loginForm.controls['password'].errors,
              'is-success':
                loginForm.controls['password'].dirty &&
                !loginForm.controls['password'].errors
            }"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['password'].dirty ||
                loginForm.controls['password'].touched) &&
              !loginForm.controls['password'].errors
            "
          >
            <i class="fas fa-check"></i>
          </span>
          <span
            class="icon is-small is-right iconP"
            *ngIf="
              (loginForm.controls['password'].dirty ||
                loginForm.controls['password'].touched) &&
              loginForm.controls['password'].errors
            "
          >
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p
          class="help is-success walkP"
          *ngIf="
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched) &&
            !loginForm.controls['password'].errors
          "
        >
          Este password es válido
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched) &&
            loginForm.controls['password'].errors &&
            loginForm.controls['password'].errors.minlength
          "
        >
          El password debe ser mayor a 6 digitos
        </p>
        <p
          class="help is-danger walkP"
          *ngIf="
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched) &&
            loginForm.controls['password'].errors &&
            loginForm.controls['password'].errors.required
          "
        >
          El password es requerido
        </p>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link" [disabled]="!loginForm.valid">Enviar</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
